In [1]:
# import python libraries 
import pandas as pd
import numpy as np

# Step 1. Load and Prepare Dataset
## 1. Load Dataset

In [2]:
# load all data
dataset_path = '/Users/mocatfrio/Documents/college/S2/first-semester/computational-intelligence-HT/computational-intelligence-2019/dataset/power-consumption/'

df = pd.read_csv(dataset_path + 'household_power_consumption.txt', sep=';', header=0, low_memory=False, infer_datetime_format=True, parse_dates={'datetime':[0,1]}, index_col=['datetime'])

In [3]:
df.head(5)

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
datetime,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
2006-12-16 17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2006-12-16 17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
2006-12-16 17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
2006-12-16 17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [4]:
row_num, col_num = df.shape

print('Number of Rows = {}'.format(row_num))
print('Number of Columns = {}'.format(col_num))

Number of Rows = 2075259
Number of Columns = 7

## 2. Data Preparing
### 2.1. Fill Missing Value

![](img/1.png)

In [5]:
# mark all missing values
df.replace('?', np.nan, inplace=True)
# make dataset numeric
df = df.astype('float32')

In [6]:
df.isnull().sum()

Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

In [7]:
# fill missing values with a value at the same time one day ago
def fill_missing(values):
    one_day = 60 * 24
    for row in range(values.shape[0]):
        for col in range(values.shape[1]):
            if np.isnan(values[row, col]):
                values[row, col] = values[row - one_day, col]

In [8]:
# fill missing
fill_missing(df.values)

In [9]:
df.isnull().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

### 2.2. Add Sub Metering 4

In [10]:
# add a column for for the remainder of sub metering
values = df.values

# sub_metering_remainder = (global_active_power * 1000 / 60) - (sub_metering_1 + sub_metering_2 + sub_metering_3)
df['sub_metering_4'] = (values[:,0] * 1000 / 60) - (values[:,4] + values[:,5] + values[:,6])

In [11]:
df.head(10)

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,sub_metering_4
datetime,,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.839996,18.4,0.0,1.0,17.0,52.266670
2006-12-16 17:25:00,5.360,0.436,233.630005,23.0,0.0,1.0,16.0,72.333336
2006-12-16 17:26:00,5.374,0.498,233.289993,23.0,0.0,2.0,17.0,70.566666
2006-12-16 17:27:00,5.388,0.502,233.740005,23.0,0.0,1.0,17.0,71.800003
2006-12-16 17:28:00,3.666,0.528,235.679993,15.8,0.0,1.0,17.0,43.099998
2006-12-16 17:29:00,3.520,0.522,235.020004,15.0,0.0,2.0,17.0,39.666668
2006-12-16 17:30:00,3.702,0.520,235.089996,15.8,0.0,1.0,17.0,43.700001
2006-12-16 17:31:00,3.700,0.520,235.220001,15.8,0.0,1.0,17.0,43.666668
2006-12-16 17:32:00,3.668,0.510,233.990005,15.8,0.0,1.0,17.0,43.133335
2006-12-16 17:33:00,3.662,0.510,233.860001,15.8,0.0,2.0,16.0,43.033333

## 3. Export Prepared Data

In [12]:
# save updated dataset
df.to_csv(dataset_path + 'household_power_consumption.csv')

# Section 2. Model Evaluation
## 1. Problem Framing
We will use this individual household electric power consumption dataset to explore and answer a very specific question, that is:

> "What is the expected power consumption for the week ahead?"

In [13]:
# load the new file
df = pd.read_csv(dataset_path + 'household_power_consumption.csv', header=0, infer_datetime_format=True, parse_dates=['datetime'], index_col=['datetime'])

In [14]:
df.head(10)

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,sub_metering_4
datetime,,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0,52.266670
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0,72.333336
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0,70.566666
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0,71.800000
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0,43.100000
2006-12-16 17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0,39.666668
2006-12-16 17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0,43.700000
2006-12-16 17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0,43.666668
2006-12-16 17:32:00,3.668,0.510,233.99,15.8,0.0,1.0,17.0,43.133335
2006-12-16 17:33:00,3.662,0.510,233.86,15.8,0.0,2.0,16.0,43.033333

In [18]:
# resample data to daily
df_resampled = df.resample('D').sum()

df_resampled.head(10)

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,sub_metering_4
datetime,,,,,,,,
2006-12-16,1209.176,34.922,93552.53,5180.8,0.0,546.0,4926.0,14680.933319
2006-12-17,3390.460,226.006,345725.32,14398.6,2033.0,4187.0,13341.0,36946.666732
2006-12-18,2203.826,161.792,347373.64,9247.2,1063.0,2621.0,14018.0,19028.433281
2006-12-19,1666.194,150.942,348479.01,7094.0,839.0,7602.0,6197.0,13131.900043
2006-12-20,2225.748,160.998,348923.61,9313.0,0.0,2648.0,14063.0,20384.800011
2006-12-21,1723.288,144.434,347096.41,7266.4,1765.0,2692.0,10456.0,13808.466697
2006-12-22,2341.338,186.906,347305.75,9897.0,3151.0,350.0,11131.0,24390.300043
2006-12-23,4773.386,221.470,345795.95,20200.4,2669.0,425.0,14726.0,61736.433386
2006-12-24,2550.012,149.900,348029.91,11002.2,1703.0,5082.0,6891.0,28824.199967
2006-12-25,2743.120,240.280,350495.90,11450.2,6620.0,1962.0,5795.0,31341.666629

In [20]:
# summarize
row_num, col_num = df_resampled.shape

print('Number of Rows = {}'.format(row_num))
print('Number of Columns = {}'.format(col_num))

Number of Rows = 1442
Number of Columns = 8

In [21]:
# save
df_resampled.to_csv(dataset_path + 'household_power_consumption_days.csv')

## 2. Evaluation Metric

In [22]:
# evaluate one or more weekly forecasts against expected values
def evaluate_forecasts(actual, predicted):
    scores = list()
    # calculate an RMSE score for each day
    for i in range(actual.shape[1]):
        # calculate mse
        mse = mean_squared_error(actual[:, i], predicted[:, i])
        # calculate rmse
        rmse = sqrt(mse)
        # store
        scores.append(rmse)
    # calculate overall RMSE
    s = 0
    for row in range(actual.shape[0]):
        for col in range(actual.shape[1]):
            s += (actual[row, col] - predicted[row, col])**2
    score = sqrt(s / (actual.shape[0] * actual.shape[1]))
    return score, scores

## 2. Split Dataset

In [23]:
# split a univariate dataset into train/test sets
def split_dataset(data):
    # split into standard weeks
    train, test = data[1:-328], data[-328:-6]
    # restructure into windows of weekly data
    train = np.array(np.split(train, len(train)/7))
    test = np.array(np.split(test, len(test)/7))
    return train, test

In [ ]:
# load the new file
df = pd.read_csv(dataset_path + 'household_power_consumption_days.csv', header=0, infer_datetime_format=True, parse_dates=['datetime'], index_col=['datetime'])
train, test = split_dataset(dataset.values)
# validate train data
print(train.shape)
print(train[0, 0, 0], train[-1, -1, 0])
# validate test
print(test.shape)
print(test[0, 0, 0], test[-1, -1, 0])